.zipCodeBoroInputContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.boroSelectInput{
  width:30%;
}



.buttonSubmitZipBoroSelect{

  margin-right: 20px !important;

  height:50px;
  width:10%
}

@media screen and (max-width: 904px) {
  .zipCodeBoroInputContainer{
    flex-direction: column;
  }


  .boroSelectInput{
    margin-top: 5px;
    width:95%;
  }
  .buttonSubmitZipBoroSelect{
    margin-top: 5px !important;
    width:90% !important;
    height: 50px;
  }


}