.signinFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:70vh
}

.signinform{
  padding:30px;
  border: 1px solid #f2eeee;
  border-radius: 15px 
}

.signinbutton{
  margin-top: 10px;
  width: 100%;
}