.product-list-container {
  margin: auto;
  position: relative;
  width:70%;
  display: flex;
  flex-direction: column;

}

.galleryParent__{
  border: 1px #ffc107 solid;

}

.name-price{
  background: #dea000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.product-list{
  display: flex;
  flex-flow: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}

 .product-list div{
  /* background-color: transparent; */
 }


/* .product-list > div:nth-child(odd) {
    background-color: rgba(214, 243, 255, 0.314); 
}

.product-list > div:nth-child(even) {
    background-color: rgba(255, 199, 199, 0.283); 
} */


.product-list-title {
  color: #dea000;
    font-size: 48px;
    font-family: Koulen;
    font-weight: 400;
    word-wrap: break-word;
}
 
.product-list div{
  /* margin: 1rem;
  cursor: pointer;     */
  position: relative;

}

@media (max-width: 1299px) {
 
  .product-list{
    flex-direction: column;
  }

  .product-list-container{
    width: 100%;
  }
}