.inputNhoodIntro{
  width:100%;
}

.editSvg{
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
  /* background-color: rgb(228, 228, 228); */
}


.inputNhoodIntro{
  background-color: rgb(241, 241, 241);
  padding:10px;
}
.divSaveCancelBtns{
  margin:5px;
}

.buttonDataSave{
  margin :10px
}


/*Content container*/

.contentContainer{
   margin-bottom: 100px;
}
.divSaveCancelBtns{
  margin:10px;
  display: flex;
  justify-content: center;
}

.tableRecommendedPlaces{

  background-color: #ffffffab;
  border-collapse: collapse;
  width:80%;

}

.tableHeaderRecommededPlaces, .tableCellRecommededPlaces{
  border: 1px solid black;
  padding: 10px; /* Increase space above the cell content */

}

.nhoodRecommendationText{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid #13131329; */
    /* padding-bottom: 23px; */
}

.plainTextContainer{
      font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #13131329;
    padding-bottom: 23px
}

.recommendedFoods_ {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  /* Manage spacing between items */
    width: 100%;
    position: relative;
}

.recommendedFoodsChild {
    flex: 1 1 50%;  /* grow, shrink, and basis set to 50% */
    box-sizing: border-box;
    max-width: calc(50% - 10px);  /* Adjust the max-width to account for gap */
    background: #2F2F2F;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    /* margin-bottom: 20px; */
    
}

.editSvgRecommendedPlaces{
  position:absolute;
  right: 5px;
  top: -30px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}

/* Images */

.placeImageEditContainer{
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  padding:10px
}
.firstDiv {
  border: 1px solid #c5c5c5;
  padding:10px/* Add left margin to the first div */
}


/* neighborhood adjectives */
.adjectivesDiv{
  font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #13131329;
    padding-bottom: 23px;
}

.nhoodAdjsContainer{
  display: flex;
  flex-wrap: wrap;
}

.nhoodAdjectivesSpan{
  padding: 10px;
  border: 1px solid #dea000;
  border-radius: 8px;
  margin:5px;
  color:#dea000;
  font-weight: 700;
}

.nhoodRecommendationText_{
  color:white;
}

@media (max-width: 800px) {
    .recommendedFoodsChild {
        flex-basis: 100%;
        max-width: 100%;  /* Full width */
    }

    .userIntroContainer{
      width:90%;
    }
}