.inputNhoodIntro{
  width:100%;
}

.editSvg{
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
  /* background-color: rgb(228, 228, 228); */
}


.inputNhoodIntro{
  background-color: rgb(241, 241, 241);
  padding:10px;
}
.divSaveCancelBtns{
  margin:5px;
}

.buttonDataSave{
  margin :10px
}


/*Content container*/

.contentContainer{
   margin-bottom: 100px;
}
.divSaveCancelBtns{
  margin:10px;
  display: flex;
  justify-content: center;
}

.nhoodRecommendationText{
  text-align:start;
  margin-top: 20px;
}

.editSvgRecommendedPlaces{
  position:absolute;
  right: 5px;
  top: -30px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}

/* Images */

.placeImageEditContainer{
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  padding:10px
}
.firstDiv {
  border: 1px solid #c5c5c5;
  padding:10px/* Add left margin to the first div */
}


/* neighborhood adjectives */
.adjectivesDiv{
  width: 100%;
  padding:15px;
}

.nhoodAdjectivesSpan{
  padding: 5px;
  margin:5px;
  border: 1px solid rgb(121 121 121);
  border-radius: 5px;
  display: inline-block;
}