.inputNhoodIntro{
  width:100%;
}

.editSvg{
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}


.inputNhoodIntro{
  background-color: rgb(241, 241, 241);
  padding:10px;
}
.divSaveCancelBtns{
  margin:5px;
}

.buttonDataSave{
  margin :10px
}


/*Content container*/

.contentContainer{
   margin-bottom: 100px;
}
.divSaveCancelBtns{
  margin:10px;
  display: flex;
  justify-content: center;
}

.editSvgRecommendedPlaces{
  position:absolute;
  right: 5px;
  top: 3px;
  border-radius: 5px;
}