.Cards311{
  background-color: #F4E1D2 ;
  
}

.Cards_Group_1{
  background-color: rgb(255, 156, 85) !important;
  border-bottom: 1px solid grey !important;

}

.Cards_Group_2{
  background-color: rgba(255, 156, 85, 0.701) !important;
  border-bottom: 1px solid grey !important;

}

.Cards_Group_3{
  background-color: rgba(255, 156, 85, 0.402) !important;
    border-bottom: 1px solid grey !important;

}

.Cards_Group_4{
  background-color: rgba(255, 156, 85, 0.200)!important;
    border-bottom: 1px solid grey !important;

}

.Cards_Group_5{
  background-color: rgba(255, 156, 85, 0.100) !important;
   

}

.filter311button:hover{
  box-shadow: 0 0 0 2px rgb(255, 156, 85) , 8px 8px 0 0 rgb(255, 156, 85) ;
}


.p_signup311Complaints{
  padding:0px !important;
  margin:0px;
  font-weight: bolder;
  font-size: 12px;
}
.emailcomplaintsnewsletter{
  margin-right: 5px;
}
.newsletter-form.expanded {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: auto; /* We will ensure internal content dictates the height */
  max-height: 180px; /* Limiting the height */
  overflow: auto; /* Allows scrolling within the form if content exceeds max-height */
}

.newsletter-form.collapsed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Just enough to show a hint of the form */
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out; /* Smooth transition for padding */
  background-color: white;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  cursor: pointer; /* Make it obvious it's clickable */
  display: flex;
  justify-content: center;
  align-items: center;
}



.newsletter-form.collapsed > form {
  padding: 0 10px; /* Less padding when collapsed */
}

.input311Form{
  padding:2px;
  margin:0px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  animation: fadeIn 1s ease-in-out forwards;
}

.spinner1 {
  animation-delay: 0s; /* Appears immediately */
}

.spinner2 {
  animation-delay: 0.5s; /* Appears after 0.5 seconds */
}

.spinner3 {
  animation-delay: 1s; /* Appears after 1 second */
}