.Cards311{
  background-color: #B2AC88 ;
  
}

.Cards_Group_1{
  background-color: rgb(255, 156, 85) !important;
  border-bottom: 1px solid grey !important;

}

.Cards_Group_2{
  background-color: rgba(255, 156, 85, 0.701) !important;
  border-bottom: 1px solid grey !important;

}

.Cards_Group_3{
  background-color: rgba(255, 156, 85, 0.402) !important;
    border-bottom: 1px solid grey !important;

}

.Cards_Group_4{
  background-color: rgba(255, 156, 85, 0.200)!important;
    border-bottom: 1px solid grey !important;

}

.Cards_Group_5{
  background-color: rgba(255, 156, 85, 0.100) !important;
   

}

.filter311button:hover{
  box-shadow: 0 0 0 2px rgb(255, 217, 19), 8px 8px 0 0 rgb(255, 217, 19);
}