
.articlesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  scroll-behavior: smooth;
  width:100%;
  transition: transform 1s ease; 
}

.blogArrows{
  color: #000000; /* Black text color */
}

/* This styles the scrollbar track */
.articlesContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
}

/* This styles the actual scrollbar handle */
.articlesContainer::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle color */
}

/* Handle on hover */
.articlesContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar handle color on hover */
}

.articlesContainer::-webkit-scrollbar {
  height: 12px; /* Height of the horizontal scrollbar */
  width: 12px; /* Width of the vertical scrollbar */
}

.residentsHeader{
  position:relative;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  margin:40px;
  text-align: center;
  top:20px;
}

.blogsCard{

    flex: 0 0 auto; /* Do not grow or shrink */
  height: 500px; /* Fixed height */
  width: 400px; /* Fixed width, adjust as needed */
  margin: 0 10px;
  /* flex: 1 1 0px; 
  height: 500px;
  width:500px;
  margin: 0 10px; */

  /*
  width:40%;
  height: 500px;
  */
}

.nhoodsTable{
 border-collapse: collapse;
}

.filterInputsContainer{
  display: flex;
  width:100%;
  justify-content: center;
  position:relative;
  top:40px;
  margin-bottom: 50px;
}

.searchByNhoodInput{
  width:20%;
  margin-bottom: 20px;
  align-self: flex-start;
  height:40px;
}

.boroughSelect{
  height:40px;
  margin-left: 20px;
}

.dropdownFilterByBorough{
  width:20%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height:40px;
}

.neighborhoodCard{
  width:30%;
  margin:30px;
}

.pagination button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.pagination button:hover {
  background-color: #e9e9e9;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  flex-wrap: wrap;
}

.pagination-controls button {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #282828;
  background-color: #282828;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.pagination-controls button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}
.pagination-controls .page-item {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #555555;
  background-color: #555555;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.pagination-controls .page-item:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pagination-controls .page-item.active {
  background-color: #ffc107; /* Highlight color for the active page */
  color: black; /* Text color for the active page */
  border-color: #ffc107;
}

.pagination-controls .page-item:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}




@media (max-width: 1100px) {
  .blogsCard{
     box-sizing: border-box;
    /* min-width: 100%; */
    margin: 0; /* Reset margin for full width */
  }

  .articlesContainer{
    justify-content: start;
  }
  
}

@media (max-width: 999px) {
  .neighborhoodCard{
    width:100%
  }
}


@media (max-width: 749px) {
  .searchByNhoodInput{
    width:40%;
  }

  .dropdownFilterByBorough{
     width:40%;
  }

  .blogsCard{
    width:40%;
     height: 500px;
  }
  .arrowsContainer{
    display: none;
  }
  .articlesContainer{
    overflow-x: scroll;
    transform: none !important;
  }
}

@media screen and (max-width: 768px) {
  .nhoodsTable, .nhoodsTable thead, .nhoodsTable tbody, .nhoodsTable th, .nhoodsTable td, .nhoodsTable tr {
    display: block;
  }

  .nhoodsTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .nhoodsTable tr {
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }

  .nhoodsTable td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .nhoodsTable td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /* Label the data */
  .nhoodsTable td:before { content: attr(data-label); }
}

@media (max-width:500px){
  .blogsCard{
    width:60%;
  }
}

@media (max-width:450px){
  .blogsCard{
    width:100%;
  }
}