

.blogMainContainer{
  position:relative;
  margin-top: 50px;
  width:50%;
  margin:auto;
  margin-top: 50px;
}

.blogContainer{
  position:relative;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9; /* Light background for text sections */
  line-height: 1.6; 
  padding: 20px;
  margin-top: 50px;
  
}

.blogContainer span{
  font-size: 18px !important;
}


.imageContainer {
  display: flex; /* Aligns images in a row */
  overflow-x: auto; /* Allows horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enables snap scrolling */
  justify-content: space-around;
}

.article-title{
  font-size: 3em; /* Sets the size of the title */
  font-weight: bold; /* Makes the title bold */
  color: #333; /* Sets the color of the title text */
  margin-bottom: 0.5em; /* Adds space below the title */
  line-height: 1.2; /* Adjusts the spacing between lines of text */
  text-transform: uppercase; /* Optional: makes the title uppercase */
  font-family: 'Arial', sans-serif; /* Specifies the font */
  text-align: center;
 
}


img:not(.imageContainer img) {
  /* Your styles for all images except those under the div */
  flex: 0 0 auto; /* Prevents images from stretching */
  scroll-snap-align: start; /* Ensures images snap into place */
  width: 100%; /* Sets image width */
  margin-right: 10px; /* Adds space between images */
  /* max-width:400px !important; */
  position: relative;
  left:50%;
  transform: translate(-50%, 0);
}

.imageContainer img {
  flex: 0 0 auto; /* Prevents images from stretching */
  scroll-snap-align: start; /* Ensures images snap into place */
  width: 100%; /* Sets image width */
  margin-right: 10px; /* Adds space between images */
}

.imageContainer img{
  max-width:400px !important;
}

@media only screen and (max-width: 1700px){
  .blogMainContainer{
    width:70%;
  }
  .blogContainer span{
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 680px){
  .blogMainContainer{
    width:80%;
  }

  .article-title{
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px){
  .blogMainContainer{
    width:90%;
  }
}