
.setPasswordContainer{
  width: 20%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: start;
}

.tooltip_password{
  position: relative;
  left: 0;
  background-color: black;
  color: white;
  font-style: italic;
  border-radius: 6px;
  padding: 5px 10px;
  z-index: 1;
  margin-top: 15px;
}


@media screen and (max-width: 776px) {
  .setPasswordContainer{
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .setPasswordContainer{
    width: 70%;
  }
}