.containerNhoodItems{
  position:relative;
  text-align: center;
}

 .userInfo {
  position: relative;

  
}

/* Images: */
.contentContainer{
  margin: 0 auto;
}
.containerNhoodItems{
  position:relative;
  text-align: center;
}
