

hr{
  margin: 0rem 0;
}
h2{
  text-align: start;
}
.userProfileContainer{

}

.userIntroContainer{
  width:80%;
  left:50%;
  transform: translate(-50%, 0 );
}

.containerNhoodItems{
  position:relative;
  text-align: center;
  /* padding:20px; */
}

.userInfo {
  position: relative;
  /* background-color: #FFFCEB ; */
}

.userInfoSubContainer{
  /* padding:10px; */
}

h1{
  text-align: start;
}


.introContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 65%; */
  align-items: start;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

 .reisidentsSubContaine{
  width: 100%;
 }

 .subContainerNhoodItems{
  /* width: 100%; */
  position:relative;
  /* left: 50%;
  transform: translate(-50%, 0); */
 }

/* Images: */

.contentContainer{
  margin: 0 auto;
}
.containerNhoodItems{
  position:relative;
  text-align: center;
}

.containerFood{
  display:flex;
  /* flex-direction: row-reverse; */
  width:100%;
  align-items: center;
  justify-content: center;
}

.residentesSubSubContainer{
  /* width: 65%; */
  position: relative;
  /* margin: auto  */
}
.nightLifeContainer{
 display:flex;
 align-items: center;
 justify-content: center;
 /* width:80%; */
 position: relative;
 /* left:50%;
 transform: translate(-50%,0); */
}
.nightLifeEditableDivsContainer{
  width:100%
}

.foodEditableDivsContainer{
  width: 100%;
}

.foodEditableDivsContainer_{
  /* width: 65%; */
   position: relative;
    margin: auto 
}

.detailsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*recommendations images: */
.imageResidents{

}

.recommendationsImage{
  /* height:250px;
  margin-top:15px; */

}

.imageSectionContainer{
  display: flex;
  flex-direction: column;
  /* margin-left: 10px; */
  /* width:30%; */
  /* justify-content: center; */
}

.sectionContainer{
  /* background-color: #FFFCEB ; */
  margin-top: 50px;
}

.assessmentsContainer{
  position:relative;
  text-align: start;
}

@media only screen and (max-width: 1300px){
  .introContainer{
    width:80%;
  }
}


@media only screen and (max-width: 700px) {
    /* CSS rules for screens smaller than 700px */

    .introContainer{
      width:90%;
    }
    .detailsContainer {
        flex-direction: column;
        padding:25px;
    }
    .containerFood{
      flex-direction: column-reverse;
      padding:25px;
    }

    .nightLifeContainer{
      flex-direction: column;
      padding:25px;
      width:90%;
    }

    .imageSectionContainer{
      /* position: absolute; */
      width: 120%;
    }

    .nightLifeEditableDivsContainer{
      position: relative;
      top:-100px;
      background-color: white;
      padding:10px;
      padding-top:40px;
      width:115%;
    }

    .reisidentsSubContainer{
      position: relative;
      top:-100px;
      background-color: white;
      padding:10px;
      padding-top:40px;
      width:115%;
    }

     .subContainerNhoodItems{
      width:90%
     }

     .containerFood{
      width: 90%;
     }

    .foodEditableDivsContainer{
      position: relative;
      top:-100px;
      background-color: white;
      padding:10px;
      padding-top:40px;
      width:115%;
    }

    .foodEditableDivsContainer_{
      width:auto
    }
    .residentesSubSubContainer{
      width:auto;
    }
    .userInfoSubContainer{
      padding-bottom: 50px;
    }

    .assessmentsContainer{
      width:80%;
    }
}